p{
    color:red;
    text-align: center;
    font-family:Georgia;
    line-height:30px;
}
h1{
    text-align:center;
    font-family:Georgia;
}
h3{
    text-align:center;
    color:black;
    font-family:Georgia;
}
a{
    text-decoration:none;
    color:rgb(0,255,0);
}
button{
    background-color:white;
    color:blueviolet;
}
textarea{
    color:black;
}
span{
    text-decoration:underline;
}